* {
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, sans-serif;
}

.inicio {
    width: 100%;
    height: 450px;
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    clip-path: polygon(-140% 0%, 100% 0%, 100% 100%, 155% 115%);
}

.inicio .title {
    color: white;
    text-align: center;
}

.inicio .title p {
    font-size: 20px;
    margin-top: 69px;
}

.inicio .title h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.inicio .title span {
    font-size: 14px;
}

.inicio .navegacao {
    text-align: center;
}

.inicio .navegacao ul {
    list-style: none;
    justify-content: center;
    display: flex;
}

.inicio .navegacao li {
    width: 160px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 40px;
    opacity: 1;
    margin-top: 40px;
}

.inicio .navegacao li a {
    text-decoration: none;
    color: #888888;
    display: block;
    padding: 12px;
}